writers=file

# LogFileWriter is needed, otherwise the default QuestDB LogConsoleWriter writes directly to the native sysout stream
# and that damages the communication link between Surefire plugin and a forked JVM running tests
w.file.class=io.questdb.log.LogFileWriter
w.file.level=DEBUG,INFO,ERROR,CRITICAL
w.file.location=target/questdb.log